ol {
    margin-left: -40px;
    margin-top: -20px;
    list-style-position: inside;
  }

  *{text-align: center;}
  *{text-decoration:wavy;}
  h1{font-weight: 2rem;
    font-size: 2rem;}
  h2{font-weight: 1rem;
    font-size: 1.rem;}
    h3{font-size: 25px;
    font-weight:900;}
    h6{font-size: large;}

  *{font-style:oblique;}
  *{background-attachment: fixed;}
  *{background-color: beige;}
